<p>search works!</p>
<div class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="first name" [(ngModel)]="firstName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="last name" [(ngModel)]="lastName">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Age</mat-label>
    <input matInput placeholder="age">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input matInput placeholder="email" [(ngModel)]="email">
  </mat-form-field>
  <!-- <mat-divider></mat-divider> -->
  <!-- <mat-form-field> -->
    <input type="button" class="button-wrapper" value="Search" [disabled]="buttonDisable()" (click)="onSearchClicked()">
  <!-- </mat-form-field> -->
  </div>
